<div class="row">
  <div class="col-sm-9 ">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% @friends.each do |friend| %>
      <tbody>
        <tr>
          <td><%= friend.email %></td>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td class="table-icon">
            <%= link_to "Unfriend", "#", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning' %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>